#.idea/*
.idea
*csv
*xlsx
*data
__pycache__
.ipynb_checkpoints
topic
zoo5998.zip
【机器学习】*
metastore_db
test
.DS_Store
nohup.out
*.html
*.pdf
*.png
ssh.yml
test
model
model2
tensorboard*
bert_model
bertGraph
modelSave
estimatorModel